.container {
  background-color: rgb(16, 16, 16);
  height: 70px;

  .footerWrapper {
    max-width: 1080px;
    height: calc(100% - 40px);
    margin: 0 auto;
    padding: 20px;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}
